# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_test_T12PEIvOwsrfQj

RAZORPAY_KEY_SECRET=o7nRfHgRhXmx7ETd4KsgXmka

# Client URL (for redirects after payment)
CLIENT_URL=http://localhost:3000

# MongoDB URI (if using MongoDB)
# MONGODB_URI=mongodb://localhost:27017/grocify
