#month{
    margin-bottom: 10%;
    color: black;
    font-size: calc(10px + 2vmin);
    text-align:center;
    margin-top: 10px;
    

}
.nav{
    color: whitesmoke;
    background-color:black;
    height: 40px ; 
    align-items: center;
}